*.DS_Store
*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
target
build
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle

README.html
/initial/.idea
/complete/.idea
/initial/*.iml
/complete/*.iml
